#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.panel_area{min-width: 300px;animation: fade-in 1s;}
.panel_area p{display: flex;justify-content: space-between;margin: 20px 0;animation: fade-in 1.5s;align-items: center;}
.panel_area p i{background-color: #6BD9CF;color: black;padding:10px;font-size: 10px;cursor: pointer;}
button{background-color: #6BD9CF !important;color: black;outline: 0;border: 0;}
.fade-out{animation: fade-out 500ms;}
.p-dialog-header-icons{display: none;}
.text-light{color: white;}
.p-panel{position: relative;}
.close_button{position: absolute;right: 10px;top: 0px;scale: .8;}
@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fade-out{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none !important;
  }
}